{% extends 'base.html' %}

{% block pageheading %} Administration {% endblock %}

{% block main %}
<h3>Category Admin</h3>

<h4>Add a Category</h4>
<form class="myform" method="post" action="/add_category">
    <div class="form-group">
        <label for="name">Category Name:</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Category">
    </div>
</form>

<h4>Delete a Category</h4>
<form class="myform" method="post" action="/delete_category">
    <div class="form-group">
        <label for="cat_id">Category:</label>
        <select id="cat_id" name="cat_id" required>
            {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Delete Category">
    </div>
</form>

<h3>Item Admin</h3>

<h4>Add an Item</h4>
<form class="myform" method="post" action="/add_item">
    <div class="form-group">
        <label for="name">Item Name:</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="form-group">
        <label for="main_colours">Main Colours:</label>
        <input type="text" name="main_colours" id="main_colours" required>
    </div>
    <div class="form-group">
        <label for="price">Item Price:</label>
        <input type="text" name="price" id="price" required>
    </div>
    <div class="form-group">
        <label for="cat_id">Category:</label>
        <select id="cat_id" name="cat_id" required>
            {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Item">
    </div>
</form>

<h4>Delete an Item</h4>
<form class="myform" method="post" action="/delete_item">
    <div class="form-group">
        <label for="item_id">Item Name:</label>
        <select id="item_id" name="item_id" required>
            {% for product in products %}
                <option value="{{ product[0] }}">{{ product[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Delete Item">
    </div>
</form>

{% endblock %}
